<main *ngIf="products.length === 0" class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">¡Ups!</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">We having issues to load products. Try again later</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">102 ERR_CONNECTION_REFUSED</p>
  </div>
</main>
<main *ngIf="products.length > 0" >
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <ng-container *ngFor="let product of products">
        <mat-card class="example-card bg-white shadow-md rounded-lg">
          <div class="flex flex-col h-full">
            <mat-card-header class="flex items-center h-16">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="ml-2">{{ product.name }}</mat-card-title>
              <mat-card-subtitle class="ml-auto">{{ product.price | currency }}</mat-card-subtitle>
            </mat-card-header>
            <div class="p-6">
              <div class="image-container">
                <img mat-card-image [src]="imageUrl + product.image" alt="{{product.image}}" class="object-contain w-full h-full">
              </div>
            </div>
            <mat-card-content class="h-20">
              <p class="text-sm">
                {{ product.description }}
              </p>
            
            </mat-card-content>
            <mat-card-content>
              <p *ngIf="product.stock > 0">Stock: {{ product.stock }}</p>
              <p *ngIf="product.stock === 0"><strong>Not in stock</strong></p>
            </mat-card-content>
            <mat-card-actions class="flex justify-end h-16">
              <button *ngIf="product.stock > 0" mat-flat-button color="warn" (click)="detail(product._id)">Buy</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </ng-container>

    </div>
  </div>
</main>