<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">List of Users</h1>
  </div>
</header>
<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>  Name  </mat-header-cell>
          <mat-cell *matCellDef="let user"> <strong>{{ user.name }} </strong></mat-cell>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
      </ng-container>
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.role }} </mat-cell>
      </ng-container>
  
      <!-- Is Email Verified Column -->
      <ng-container matColumnDef="isEmailVerified">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email Verified </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.isEmailVerified ? 'Yes' : 'No' }} </mat-cell>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="modifyUser(user.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
                <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>
</main>

