<main *ngIf="transactions.length > 0">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex justify-between items-center">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">List of Transactions</h1>
        </div>
    </header>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8" style="overflow-x: auto;">
      <mat-table [dataSource]="transactions" class="mat-elevation-z8 sticky-table">
  
          <!-- Seller Column -->
          <ng-container matColumnDef="seller">
              <mat-header-cell *matHeaderCellDef class="sticky-column">Seller</mat-header-cell>
              <mat-cell *matCellDef="let transaction" class="sticky-column"><strong>{{ transaction.seller }}</strong></mat-cell>
          </ng-container>
  
          <!-- Buyer Column -->
          <ng-container matColumnDef="buyer">
              <mat-header-cell *matHeaderCellDef>Buyer</mat-header-cell>
              <mat-cell *matCellDef="let transaction" >{{ transaction.buyer }}</mat-cell>
          </ng-container>
  
          <!-- Product Column -->
          <ng-container matColumnDef="product">
              <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
              <mat-cell *matCellDef="let transaction">{{ transaction.product }}</mat-cell>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
            <mat-cell *matCellDef="let transaction">{{ transaction.quantity }}</mat-cell>
          </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let transaction" [ngClass]="{
                'status-iniciated': transaction.status === 'Iniciated',
                'status-error': transaction.status === 'Error',
                'status-finished': transaction.status === 'Finished'
            }"> 
                {{ transaction.status }} 
            </mat-cell>
        </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </div>
</main>

<main *ngIf="transactions.length === 0" class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">¡Ups!</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">We having issues to load transactions. Try again later</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">102 ERR_CONNECTION_REFUSED</p>
    </div>
</main>
