<div class="flex-col justify-center px-6 py-12 ">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Update Stock</h1>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" (ngSubmit)="onSubmit()">
        <label for="product">Product:</label>
        <select id="product" [(ngModel)]="selectedProduct" name="selectedProduct" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option *ngFor="let product of products" [ngValue]="product.id">{{ product.name }}</option>
        </select>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" [(ngModel)]="quantity" name="quantity" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
        <br>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Update Stock</button>
    </form>
    </div>
</div>

<ng-template #detailDialogTemplate let-data>
    <h2 mat-dialog-title>¡Stock updated successfully!</h2>
    <mat-dialog-content>
        <p>¿Do you want to add another one?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="closeDialog()">Yes</button>
        <button mat-button (click)="goBack()">No</button>
    </mat-dialog-actions>
</ng-template>